<div class="propiedades" style="background: white;">
      <div class="divbuscador2">
        <div class="divbusca">
          <div class="h4titbuscador">Encuentre la propiedad que está buscando</div>
          <div class="w-row">
            <div class="w-col w-col-3">
              <div class="dropdopciones w-dropdown" data-delay="0">
                <div class="w-dropdown-toggle">
                  <div class="txtopcion">Operación</div>
                  <div class="iconoselec w-icon-dropdown-toggle"></div>
                </div>
                <nav class="droplist w-dropdown-list"><a class="droplink operacion w-dropdown-link" href="#">Alquiler</a><a class="droplink operacion w-dropdown-link" href="#">Venta</a>
                </nav>
              </div>
            </div>
            <div class="w-col w-col-3">
              <div class="dropdopciones w-dropdown" data-delay="0">
                <div class="w-dropdown-toggle">
                  <div class="txtopcion">Propiedad</div>
                  <div class="iconoselec w-icon-dropdown-toggle"></div>
                </div>
                <nav class="droplist w-dropdown-list"><a class="droplink propiedad w-dropdown-link" href="#">Casa</a><a class="droplink propiedad w-dropdown-link" href="#">Departamento</a><a class="droplink propiedad w-dropdown-link" href="#">Barrio privado</a><a class="droplink propiedad w-dropdown-link" href="#">Cochera</a><a class="droplink propiedad w-dropdown-link" href="#">Locales/Oficinas</a><a class="droplink propiedad w-dropdown-link" href="#">Terrenos</a><a class="droplink propiedad w-dropdown-link" href="#">Campos</a><a class="droplink propiedad w-dropdown-link" href="#">Galpones</a>
                </nav>
              </div>
            </div>
            <div class="w-col w-col-3">
              <div class="dropdopciones w-dropdown" data-delay="0">
                <div class="w-dropdown-toggle">
                  <div class="txtopcion">Dormitorios</div>
                  <div class="iconoselec w-icon-dropdown-toggle"></div>
                </div>
                <nav class="droplist w-dropdown-list"><a class="dorm droplink w-dropdown-link" href="#">Monoambiente</a><a class="dorm droplink w-dropdown-link" href="#">1 dormitorio</a><a class="dorm droplink w-dropdown-link" href="#">2&nbsp;dormitorios</a><a class="dorm droplink w-dropdown-link" href="#">3&nbsp;dormitorios</a><a class="dorm droplink w-dropdown-link" href="#">4&nbsp;dormitorios ó más</a>
                </nav>
              </div>
            </div>
            <div class="w-col w-col-3">
              <div class="dropdopciones w-dropdown" data-delay="0">
                <div class="w-dropdown-toggle">
                  <div class="txtopcion">Localidad</div>
                  <div class="iconoselec w-icon-dropdown-toggle"></div>
                </div>
                <nav class="droplist w-dropdown-list"><a class="droplink w-dropdown-link" href="#">Rosario</a><a class="droplink local w-dropdown-link" href="#">San Lorenzo<br>Pto. San Martín</a><a class="droplink local w-dropdown-link" href="#">Funes/Roldán</a><a class="droplink local w-dropdown-link" href="#">F.L. Beltrán<br>Cap. Bermudez</a><a class="droplink w-dropdown-link" href="#">Uruguay</a><a class="droplink w-dropdown-link" href="#">Otros</a>
                </nav>
              </div>
            </div>
          </div><a class="botonbuscar w-button" href="#">BUSCAR</a>
        </div>
      </div>
      <div class="buscador naranja propiedades">
        <div class="h4titbuscador">Encuentre la propiedad que está buscando</div>
        <div class="w-form">
            <form id="email-form" name="email-form">
                <div class="w-row">
                    <div class="w-col w-col-3">
                        <div class="txtcatbuscador">Operación</div>
                        <select ng-model="data.operacion"
                            class="select w-select"
                            ng-options="operacion as operacion.label for operacion in operaciones"
                            ng-change="selected()"
                            id="field"
                            name="field">
                        </select>
                    </div>
                    <div class="w-col w-col-3">
                        <div class="txtcatbuscador">Tipo de propiedad</div>
                        <select ng-model="data.tipo_propiedad"
                            class="select w-select"
                            ng-options="tipo as tipo.label for tipo in tipo_propiedad"
                            ng-change="selected()"
                            id="field"
                            name="field">
                        </select>
                    </div>
                    <div class="w-col w-col-3">
                        <div class="txtcatbuscador">Dormitorios</div>
                        <select ng-model="data.dormitorios"
                            class="select w-select"
                            ng-options="dormitorio as dormitorio.label for dormitorio in dormitorios"
                            ng-change="selected()"
                            id="field"
                            name="field">
                        </select>
                    </div>
                    <div class="w-col w-col-3">
                        <div class="txtcatbuscador">Localidad</div>
                        <select ng-model="data.localidad"
                            class="select w-select"
                            ng-options="localidad as localidad.label for localidad in localidades"
                            ng-change="selected()"
                            id="field"
                            name="field">
                        </select>
                    </div>
                </div>
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form</div>
            </div>
        </div><a class="botonbuscar w-button" ui-sref="app.propiedades({filter: data})">BUSCAR</a>
    </div>
      <div class="rowprop w-row">
        <div class="w-col w-col-3 w-col-medium-6" ng-repeat="prop in propiedades">
          <div class="divcartas">
            <div class="carta w-preserve-3d">
              <div class="atras w-preserve-3d">
                <p class="txtatras">{{prop.descripcion}}</p>
              </div>
              <div class="divprop"><img class="fotoprop" sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 42vw, 24vw" src="{{containerURL}}{{prop.foto_1}}" srcset="{{containerURL}}{{prop.foto_1}} 500w, {{containerURL}}{{prop.foto_1}} 800w">
                <div class="txtpropi">San Juan 2341</div>
                <div class="txtpropi">Rosario</div>
              </div>
            </div>
          </div><a class="linkpropi" ui-sref="app.detail({propId: prop.id})">Ver ficha completa</a>
        </div>
        
        
        
      </div>
      <a class="subir w-inline-block" data-ix="flecha-subir" href="#inicio"><img src="images/flecha.png">
      </a>
    </div>